<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>特色产品</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
	</head>
	<style type="text/css">
		header {
			z-index: 101!important;
		}
		
		.mui-content .tsproduct_title {
			background: #FE7916;
			height: 12vw;
			position: relative;
			z-index: 100;
		}
		
		.mui-content .tsproduct_title p {
			line-height: 12vw;
			color: #fff;
			text-align: center;
			font-size: 16px;
		}
		
		.mui-content .mui-slider {
			z-index: 100!important;
		}
		
		.mui-table-view:after {
			content: none!important;
		}
		
		[v-cloak] {
			display: none;
		}
	</style>
	<script src="js/vue.min.js"></script>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<div class="mui-title">
				<div class="mui-input-row mui-search searchInput">
					<input type="search" id="search" value="产品/溯源信息搜索" readonly="readonly" />
				</div>
			</div>
		</header>
		<div class="mui-content">
			<!--图片轮播-->
			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate" id="mui-slider-item">
						<a href="#">
							<img src="images/c1.png">
						</a>
					</div>
					<!-- 第一张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="images/c1.png">
						</a>
					</div>
					<!-- 第二张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="images/c1.png">
						</a>
					</div>
					<!-- 第三张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="images/c1.png">
						</a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="images/c1.png">
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
			<div class="tsproduct_title">
				<p>特色产品</p>
			</div>
			<!--ios-->
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper" style="margin-top: 72vw;">
				<div class="mui-scroll">
					<div id="app" v-cloak>
						<div class="mui-table-view mui-table-view-chevron products_wrapper" style="background:none;border-bottom: none;">
							<div class="product" v-for="value in data" ref="oLi" @tap="tapEvent($event,value.pid)">
								<a href="#">
									<img width="100%" height="80px" :src="value.pro_img" />
									<p class="pro_title" ref="title">{{value.name}}</p>
								</a>
							</div>
						</div>
						<div v-if="search" class="searchResult">
							{{search}}
						</div>
					</div>
				</div>
			</div>
			<!--ios-->
			<!--android-->
			<!--<div id="app" v-cloak>
				<div id="pullrefresh">
					<div class="products_wrapper">
						<div class="product" v-for="value in data" ref="oLi" @tap="tapEvent($event,value.pid)">
							<a href="#">
								<img width="100%" height="80px" :src="value.pro_img" />
								<p class="pro_title" ref="title">{{value.name}}</p>
							</a>
						</div>
					</div>
				</div>
				<div class="searchResult">
					{{search}}
				</div>
			</div>-->
			<!--android-->
		</div>
	</body>

</html>

<script src="js/mui.min.js"></script>
<script src="js/base.js"></script>
<!--<script src="js/newsStatus.js"></script>-->
<script type="text/javascript">
	//	mui.init();
	//设置content的margin-top
	//var slider = document.getElementById('slider');
	//				
	//				if(slider && mui.os.ios){
	//					var height = slider.offsetHeight+ 50 + 44;
	//					document.getElementById('pullrefresh').style.marginTop = height+'px';
	//					document.getElementById('pullrefresh').style.display = 'block';
	//				}
	var url = url + '/index/products/index',
		page = 1,
		currentPage = null,
		str = '',
		html,
		pusb1,
		search = document.getElementById('search');

	search.addEventListener('tap', function() {
		mui.openWindow({
			id: 'search.html',
			url: 'search.html',
			extras: {
				listUrl: 'tsProductSearch.html'
			}
		})
	}, false)

	//	初始化页面

	render(url, '#pullrefresh', 'tsProductDetail.html');
	//设置content的margin-top
	//	var height = document.getElementById('mui-slider-item').offsetHeight+ 50 + 44;
	//	document.getElementById('pullrefresh').style.marginTop = height+'px';
	//轮播图定时轮播
	//	var slider = mui("#slider");
	//	slider.slider({
	//		interval: 5000
	//	});
	var currentPage;
	mui.plusReady(function() {
		currentPage = plus.webview.getWebviewById('tsProducts.html');
	})
	var old_back = mui.back;
	mui.back = function() {
		if(currentPage != null) {
			currentPage.close();
		}
		old_back();
	}
</script>