<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>特色产品</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
	</head>
	<style type="text/css">
		.mui-content .tsproduct_title {
			background: #FE7916;
			height: 50px;
		}
		
		.mui-content .tsproduct_title p {
			line-height: 50px;
			color: #fff;
			text-align: center;
			font-size: 16px;
		}
		
		[v-cloak] {
			display: none;
		}
	</style>
	<script src="js/vue.min.js"></script>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<div class="mui-title">
				<div class="mui-input-row mui-search searchInput">
					<input type="search" id="search" class="mui-input-clear" placeholder="产品/溯源信息搜索" />
				</div>
			</div>
		</header>
		<div class="mui-content">
			<!--图片轮播-->
			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="images/c1.png">
						</a>
					</div>
					<!-- 第一张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="images/c1.png">
						</a>
					</div>
					<!-- 第二张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="images/c1.png">
						</a>
					</div>
					<!-- 第三张 -->
					<div class="mui-slider-item">
						<a href="#">
							<img src="images/c1.png">
						</a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a href="#">
							<img src="images/c1.png">
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
			<div class="tsproduct_title">
				<p>特色产品</p>
			</div>

			<div id="app" v-cloak>
				<div id="pullrefresh">
					<div class="products_wrapper">
						<div class="product" v-for="value in data" ref="oLi" @tap="tapEvent($event,value.pid)">
							<a href="#">
								<img width="100%" height="80px" :src="value.pro_img" />
								<p class="pro_title" ref="title">{{value.name}}</p>
								<!--<p class="description" ref="introduce">{{value.intro}}</p>-->
							</a>
						</div>
					</div>
				</div>
				<!--<div class="searchResult">
					{{search}}swdefswerfewsrfewsr
				</div>-->
			</div>
		</div>
	</body>

</html>
<script src="js/mui.min.js"></script>

<script src="js/base.js"></script>
<!--<script src="js/newsStatus.js"></script>-->
<script type="text/javascript">
	mui.init();
	var url = url + '/index/products/index',
		page = 1,
		currentPage = null,
		str = '',
		html,
		pusb1,
		search = document.getElementById('search');
	html = '<div id="pullrefresh">'
	html += '<div class="products_wrapper">';
	html += '<div class="product" v-for="value in data" ref="oLi" @tap="tapEvent($event,value.pid)">';
	html += '<img width="100%" height="80px" :src="value.pro_img" />';
	html += '<p class="pro_title" ref="title">';
	html += '{{value.name}}';
	html += '</p></div>';
	html += '<div class="searchResult">' + '{{search}}' + '</div>';

	//搜索
	window.addEventListener('keyup', function(e) {
		var e = e || window.e;
		keyword = search.value;
		if(e && e.keyCode == 13) {
			if(keyword) {
				//				search.blur();
				document.activeElement.blur();
				url_ts = url + '/index/products/index?keyword=' + keyword;
				console.log('啥呀' + url_ts)
				document.getElementById('app').innerHTML = html;
				render(url_ts, '#pullrefresh','tsProductDetail.html');
			} else {
				mui.alert('输入内容不能为空');
			}
		}
	}, false);
	//	初始化页面

	render(url, '#pullrefresh','tsProductDetail.html');

	var slider = mui("#slider");
	slider.slider({
		interval: 5000
	});
	//返回
	//	mui.plusReady(function() {
	//	    plus.key.addEventListener('backbutton', function() {
	//	    	console.log(564356536563)
	//	    	mui.alert(527)
	//	        mui.currentWebview.opener().show('none');
	//	        oldback();
	//	    }, false);
	//	
	//	});
	//var old_back = mui.back
	//mui.back = function(){
	//	console.log(558365367658)
	//  var webview = plus.webview.getWebviewById('index.html'); //假设第一个Webview的id是home
	//  webview.show();
	//  old_back();
	//};
</script>